# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ohana
DB_USER=root
DB_PASSWORD=root

# JWT Configuration
JWT_SECRET=a-string-secret-at-least-256-bits-long

# Application Configuration
PORT=4242

# GCP Configuration (for deployment)
PROJECT_ID=ohana-464419
REGION=us-central1
SERVICE_NAME=ohana-members